.App {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

table {
  border: 1px solid black;
  border-spacing: 0;  
  width: 800px;
  height: 200px;
}
  
th {
  border: 1px solid black;
}
  
td {
  border: 1px solid black;
  text-align: center;
}